{@org.djr4488.quarkus.model.AudioResponse audio}
<div class="row">
    <div class="col">
        <h3>Audio Controls</h3>
        <audio id="audioControls" controls class="w-100" autoplay loop>
            <source id="audioSource"
                    src="{audio.audioSource}"
                    type="audio/mpeg" />
        </audio>
    </div>
    <div class="col">
        <h3>Select Track</h3>
        <select id="selectTractSelectOneMenu" class="form-select" aria-label="Select Track" onchange="getAudio()">
            <option value="1">05 Local Forecast Nighttime</option>
            <option value="2" >07 Regional Forecast Nighttime</option>
            <option value="3">09 Global Forecast Nighttime</option>
            <option value="4">11 Global Forecast Nighttime Layer Only</option>
            <option value="6">00 Namco Museum</option>
            <option value="7">02 Downloading the Latest News</option>
            <option value="8">05 News Slideshow Nighttime</option>
            <option value="9">06 Global News View</option>
            <option value="10">07 Global News Layer Only</option>
            <option value="11">Legend of Mana</option>
            <option value="12">Chrono Cross</option>
        </select>
    </div>
</div>