{@org.djr4488.quarkus.model.onecall.OpenWeatherOneCallResponse weather}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-currently-tab" data-bs-toggle="pill" data-bs-target="#pills-currently" type="button" role="tab" aria-controls="pills-currently" aria-selected="true">Current Conditions</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-alerts-tab" data-bs-toggle="pill" data-bs-target="#pills-alerts" type="button" role="tab" aria-controls="pills-alerts" aria-selected="false">Current Active Alerts</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-hourly-tab" data-bs-toggle="pill" data-bs-target="#pills-hourly" type="button" role="tab" aria-controls="pills-hourly" aria-selected="false">Hourly Forecast</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-fiveday-tab" data-bs-toggle="pill" data-bs-target="#pills-fiveday" type="button" role="tab" aria-controls="pills-fiveday" aria-selected="false">3 Day Outlook</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-currently" role="tabpanel" aria-labelledby="pills-currently-tab" tabindex="1">
    {#include WeatherResource/weatherCurrent.html weather=weather /}
  </div>
  <div class="tab-pane fade" id="pills-alerts" role="tabpanel" aria-labelledby="pills-alerts-tab" tabindex="2">
    {#include WeatherResource/weatherAlerts.html weather=weather /}
  </div>
  <div class="tab-pane fade" id="pills-hourly" role="tabpanel" aria-labelledby="pills-hourly-tab" tabindex="3">
    {#include WeatherResource/weatherHourly.html weather=weather /}
  </div>
  <div class="tab-pane fade" id="pills-fiveday" role="tabpanel" aria-labelledby="pills-fiveday-tab" tabindex="4">
    {#include WeatherResource/weatherDaily.html weather=weather /}
  </div>
</div>